
$main-background:#33c5ab;
$main-color:black;

*
{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

.open.menu-container
{
    transform: translateX(5px);
   
}
.open.site-container
{
    transform: translateX(280px); 
}

.site-container
{
    width:80%;
    height:300px;
    background:$main-background;
    padding: 3rem;
    transition: transform 0.3s ease-out;

    h1
    {
        font-size: 4rem;
    }
    
    button
    {
        padding:1rem 3rem;
        font-size: 1.3rem;
        border:2px solid $main-color;
        color:$main-color;
        background:$main-background;
        margin-top:20px;
        outline: none;
    }
     button:hover
{
    background:$main-color;
    color:teal;
    cursor: pointer;   

}
}

.menu-container
{
    background:#192a3b;
    color:#9fbfd1;
    width:280px;
    height:300px;
    position: absolute;
    top:0;
    left:0;
     transform: translateX(-281px); 
     transition: transform 0.3s ease-out;
}
.list-item
{
    padding:2rem;

        li
    {
        list-style: none;
        margin:1.5rem 0.8rem;
    }

    a
    {
        color:#9fbfd1;
        text-decoration: none;
        font-size: 1.6rem;
    }
}
